.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.idea/
.vscode/
*.swp
*.swo
*~
core.Microsoft*
core.mongo*
core.python*
env.py
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
